#cube {
  width: 250px;
  height: 150px;
  border: 1px solid black;
  position: relative;
  text-align: left;
  border-radius: 30px !important ;
  #img {
    height: 50px !important;
    width: 50px !important;
    position: absolute;
    left: 6rem;
    top: -20px;
  }
  #title {
    margin-top: 25px;
  }
}
